################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlagDocUploader/bin/Debug/net8.0-windows
/FlagDocUploader/obj
/FlagDocUploader/FlagDocUploader.csproj.user
